{% extends 'base.html.twig' %}

{% block title %}Gerenciamento de usuários{% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Lista de usuários &nbsp; 
                                <a href="/admin/user/new">
                                    <button class="btn btn-sucess btn-sm">
                                        Adicionar
                                    </button>    
                                </a>
                            </h4>
                            {# <p class="category">Here is a subtitle for this table</p> #}
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th>Usuário</th>
                                        <th>E-mail</th>
                                        <th>Acesso</th>
                                        <th>Ativo</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                            {% if user.roleLevel == 'super_admin' %}
                                                Super Administrador
                                            {% elseif user.roleLevel == 'admin' %}
                                                Administrador
                                            {% endif %}
                                            </td>
                                            <td>
                                                {% if user.isActive %}
                                                    Sim
                                                {% else %}
                                                    Não
                                                {% endif %}                                                
                                            </td>
                                            <td>
                                            <a href="/admin/user/edit/{{ user.id }}">
                                                <button class="btn btn-primary btn-sm">
                                                    Editar
                                                </button>
                                            </a>
                                            <form class="formDelete" action="/admin/user/delete/{{ user.id }}">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button class="btn btn-danger btn-sm">
                                                    Deletar
                                                </button>                                                
                                            </form>
                                                {# <button class="btn btn-danger btn-sm btn-remove-user" data-id="{{ user.id }}">
                                                    Deletar
                                                </button> #}
                                            </td>
                                        </tr>                                        
                                    {% endfor %}                                    
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    const formsDelete = document.querySelectorAll('.formDelete');

    formsDelete.forEach((item) => {
        item.addEventListener('submit', (ev) => {
            ev.preventDefault();   

            swal({
                title: "Tem certeza?",
                text: "Após deletar, não será possível recuperar a informação!",
                icon: "warning",
                buttons: ['Cancelar', 'Ok'],
                dangerMode: true,
            }).then((willDelete) => {
                item.submit();
            });       
        })
    });
</script>
{% endblock %}
