{% extends 'base.html.twig' %}

{% block title %}Gerenciamento de categorias{% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Lista de categorias &nbsp; 
                                <a href="/admin/category/new">
                                    <button class="btn btn-sucess btn-sm">
                                        Adicionar
                                    </button>    
                                </a>
                            </h4>
                            <p class="category">Listagem de categorias vinculadas ao usuário atual</p>
                        </div>

                        {% if categories|length > 0 %}

                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th>Descrição</th>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <th>Usuário</th>
                                        {% endif %}                                           
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for category in categories %}
                                        <tr>
                                            <td>{{ category.id }}</td>
                                            <td>{{ category.name }}</td>
                                            <td>{{ category.description }}</td>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <td>{{ category.user.name }}</td>
                                            {% endif %}                                           
                                            <td>
                                            <a href="/admin/category/edit/{{ category.id }}">
                                                <button class="btn btn-primary btn-sm">
                                                    Editar
                                                </button>
                                            </a>
                                            <form class="formDelete" action="/admin/category/delete/{{ category.id }}">
                                                {# <input type="hidden" name="_method" value="DELETE"> #}
                                                <button class="btn btn-danger btn-sm btn-remove-user">
                                                    Deletar
                                                </button>                                                
                                            </form>
                                            </td>
                                        </tr>                                                                                
                                    {% endfor %}                                    
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="content">
                            <h4>Nenhuma categoria cadastrada! &#x1F61E</h4>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    const formsDelete = document.querySelectorAll('.formDelete');

    formsDelete.forEach((item) => {
        item.addEventListener('submit', (ev) => {
            ev.preventDefault();   

            swal({
                title: "Tem certeza?",
                text: "Após deletar, não será possível recuperar a informação!",
                icon: "warning",
                buttons: ['Cancelar', 'Ok'],
                dangerMode: true,
            }).then((willDelete) => {
                item.submit();
            });       
        })
    });
</script>
{% endblock %}
